body {
    overflow: hidden;
}

h1 {
    text-align: center;
    color: rgb(128, 0, 255);
    margin-top: 20px;
}

#left-container {
    background-color: aquamarine;
    width: 15%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
    
#right-container {
    background-color: aqua;
    width: 15%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.plant-holder {
    position: relative;
    width: 80%;
    height: 10%;
    margin: 0 auto;
}

.plant {
    height: 150%;
    width: 150%;
    max-height: 80px;
    max-width: 120px;
    position: absolute;
    z-index: 2;
}


.jar-walls {
    height: 80%;
    width: 60vw;
    background: #d1e1df;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
}

.jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
}

.jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}

.dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
}

.jar-glossy-short {
    position: relative;
    left: 5%;
    bottom: -50%;
    width: 2%;
    height: 5%;
    background: #ffffff;
    border-radius: 1rem;
    opacity: 0.7;
    z-index: 1;
}

.jar-glossy-short2 {
    position: relative;
    left: 5%;
    bottom: -55%;
    width: 2%;
    height: 20%;
    background: #ffffff;
    border-radius: 1rem;
    opacity: 0.7;
    z-index: 1;
}

.jar-glossy-long {
    position: absolute;
    width: 60%;
    height: 60%;
}

.plant-in {
    position: relative;
    width: 60%;
    height: 60%;
    bottom: -100%;
}

.container {
    position: relative;
}
